html
  head
    title Kredits oracle
  body
    h1 YAY

    p @#{contributor.github_username}, we are happy to have you as contributor!
    p You are registered with account #{contributor.account}. Your ID is #{contributor.id}
